* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #fffaf0;
  font-family: 'DM Sans', sans-serif;
}


.header {
  border-bottom: 1px solid #3A35411F;
  height: 80px;
  padding: 12px 120px;
  background: #fff;
}

.logo {
  height: 56px;
}


.container {
  display: flex;
  justify-content: center;
  padding: 32px 16px;
}

.card {
  background: #fff;
  width: 100%;
  max-width: 590px;
  padding: 36px;
  border-radius: 6px;
  box-shadow: 0 10px 25px rgba(0,0,0,.05);
}


.title-text {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: 600;
  margin: 0 0 6px;
  color:#222325;
}

.subtitle {
  text-align: center;
  font-size: 16px;
  margin: 0 0 36px;
  color: #333333AD;
  transform: translateX(3px); 
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-size: 13px;
  display: block;
  margin-bottom: 6px;
}

label span {
  color: red;
}

input {
  width: 100%;
  padding: 10px 12px;
  border-radius: 6px;
  border: 1px solid #ddd;
  font-size: 14px;
}

input:focus {
  outline: none;
  border-color: #44d048;
}

.phone-container {
  display: flex;
  gap: 12px;
}

.phone-wrapper {
  display: flex;
  align-items: stretch; 
  border: 1px solid #ddd;
  border-radius: 6px;
  overflow: hidden;
}

.flag-box {
  background: #f2f2f2;
  padding: 0 12px;
  display: flex;
  align-items: center;
  border-right: 1px solid #ddd;
}

.country-code {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 12px;
  font-size: 14px;
}

.dropdown-icon{
  cursor: pointer;
}

.phone-input {
  flex: 1;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  line-height: 1.4;
}


.phone-input:focus {
  outline: none;
}

.password-wrapper {
  position: relative;
}

.password-wrapper input {
  width: 100%;
  padding: 10px 42px 10px 12px;
}

.eye-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  cursor: pointer;
  opacity: .6;
}

.eye-icon:hover {
  opacity: 1;
}

.forgot {
  text-align: right;
  margin-bottom: 15px;
}

.forgot a {
  font-size: 13px;
  color: #777;
  text-decoration: none;
}

.btn {
  width: 100%;
  padding: 11px;
  border-radius: 8px;
  border: none;
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 10px;
}

.primary {
  background: #44d048;
  color: white;
}

a.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none; 
  border: none;
  cursor: pointer;
}
.secondary {
  background: #e8fbe8;
  color: #2e7d32;
}

.google {
  background: #fff;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.google img {
  height: 18px;
}

.divider {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 20px 0;
  font-size: 13px;
  color: #333333AD;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  height: 1px;
  width: 2px;
  background: #F1F1F1;
}

.text-google{
 font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #4A505C;
}
.btn.primary {
  font-family: 'DM Sans', sans-serif;
}

@media (max-width: 600px) {
   .title-text {
   font-size: 24px;
  }
  .subtitle {
    transform: none;
    line-height: 1.5;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 12px 16px;
  }
}

@media (max-width: 480px) {
  .card {
    padding: 25px 18px;
  }
}

